In [1]:
import glob, os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

df = pd.read_csv('example.csv')
df1 = pd.read_csv('elo.csv')

In [2]:
df['elo_home'] = df1['elo_home']
df['elo_away'] = df1['elo_away']
df['score_gap'] = df1['score_gap']
df['results'] = df1['results']

In [3]:
def cal_score(row):
    if row['results'] == 1:
        return row['score_gap']
    else:
        return (-1)*row['score_gap']
df['score_gap_sign'] = df.apply(cal_score, axis = 1)

In [4]:
df['elo_diff'] = df['elo_home'] - df['elo_away']

In [5]:
df.head()

,Date,Start (ET),Visitor/Neutral,Visitor-Points,Home/Neutral,Home-Points,Overtime,Attend.,Season,Age_Visitor,...,T_BLK_Home,T_TOV_Home,T_PF_Home,T_PTS_Home,elo_home,elo_away,score_gap,results,score_gap_sign,elo_diff
0,Tue Oct 29 2013,7:00 pm,Orlando Magic,87,Indiana Pacers,97,0,18165,2013/2014,24.6,...,5.4,15.1,20.4,96.7,1509.424989,1490.575011,10,1,10,18.849977
1,Tue Oct 29 2013,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,0,18997,2013/2014,28.1,...,5.4,15.1,19.8,103.0,1509.424989,1490.575011,13,1,13,18.849977
2,Tue Oct 29 2013,8:00 pm,Chicago Bulls,95,Miami Heat,107,0,19964,2013/2014,28.6,...,4.5,14.8,19.5,102.2,1509.424989,1490.575011,12,1,12,18.849977
3,Wed Oct 30 2013,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,0,20562,2013/2014,30.0,...,3.7,14.2,20.0,98.2,1509.424989,1490.575011,4,1,4,18.849977
4,Wed Oct 30 2013,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,0,19834,2013/2014,27.5,...,4.3,13.5,20.0,104.8,1509.424989,1490.575011,9,1,9,18.849977

In [6]:
df = df.drop(['results', 'score_gap', 'Date', 'Start (ET)', 
              'Visitor/Neutral', 'Home/Neutral', 'Attend.', 'Season', 
             'O_G_Visitor', 'O_G_Home', 'T_G_Visitor', 'T_G_Home', 
             'elo_home', 'elo_away'], 1)
df.shape

(6567, 137)

In [7]:
df['new_score_gap_sign'] = df['score_gap_sign']
df = df.drop(['score_gap_sign'], 1)
df.rename(columns={'new_score_gap_sign': 'score_gap_sign'}, inplace=True)

In [8]:
df_clean = df.iloc[600:]
df_clean = df_clean.reset_index(drop = True)

In [9]:
df_clean.to_csv('final.csv', index=False)